<footer class="footer is-non-print">
    <div class="container">
    	<div class="columns">
	    	<div class="column">
                <ul class="menu-list">
                    {% include /partials/menu-items.html %}
                </ul>
            </div>
			<div class="column">
				<div class="content is-small">
					<p markdown="1">Seite zum Schwerpunkt "Weaving the Web" im [Studiengang Medieninformatik Master](https://www.th-koeln.de/studium/medieninformatik-master_3729.php) der [TH Köln](https://www.th-koeln.de/hochschule/impressum_8159.php). Verantwortliche Dozenten sind [Prof. Dr. Kristian Fischer](https://www.th-koeln.de/personen/kristian.fischer/) und [Prof. Christian Noss](https://github.com/cnoss).</p>
				</div>
			</div>
    	</div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.3/showdown.min.js"></script>
<script src="{{ site.baseurl }}/assets/libs/octokit-rest.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/mi-2017.js"></script>