<!--li><a href="{{ site.baseurl }}/angebote/" class="nav-item">Veranstaltungen</a></li-->
<li><a href="{{ site.baseurl }}/timetable/" class="nav-item">Zeitplan</a></li>
<li><a href="{{ site.baseurl }}/web-technologien/" class="nav-item">Web Technologien</a></li>
<!--li><a href="{{ site.baseurl }}/links/" class="nav-item">Links</a></li>
<li><a href="{{ site.baseurl }}/faq/" class="nav-item">FAQ</a></li-->
<li><a href="{{ site.baseurl }}/formate/" class="nav-item">Formate</a></li>
<li><a href="{{ site.baseurl }}/projekte/" class="nav-item">Projekte</a></li>
