<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Print Version // {{page.title}}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/print.css">
  <script defer src="{{ site.baseurl }}/assets/js/marketing.js"></script>
</head>
<body>

  <section>
    <header>
      <h1>Media Output</h1>
      <h2>Printable Poster</h2>
    </header>
    <ul class="overview" data-js-overview></ul>

  </section>

  <div class="portfolio" data-js-printable></div>
  
</body>
</html>